.pesquisar {
  width: 15rem;
  height: 6rem;
  border-radius: 1rem;
  background-color: #00a300;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  align-self: Center;
  align-items: center;
  display: flex;
  margin-top: 2rem;
  padding: 1rem;
}

.voltar {
  width: 6rem;
  height: 6rem;
  background-color: #00a300;
}

.iconevoltar {
  width: 4rem;
  height: 4rem;
  color: #ffffff;
}

.iconepesquisar {
  margin-left: 1rem;
  width: 4rem;
  height: 4rem;
}
