.table {
  font-size: 1.5rem;
  overflow: scroll;
  width: 100%;
  border-collapse: collapse;
  margin: 3rem 0;
}

.thead {
  background-color: #007f00;
  color: white;
}

.tr {
  border-bottom: 1px solid #dddddd;
}

.td,
.th {
  padding: 1.5rem;
  border-bottom: gray solid 0.1rem;
  text-align: left;
}

.tbody {
  background-color: #f0f8ff;
}
